*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.header{
    position: fixed;
    width: 100%;
    height: 10rem;
    top: 0;

}
.header .logo{
    position: relative;
    float: left;
    top: 2.5rem;
    left: 3rem;
}
.header .logo a{
    text-decoration: none;
    font-size: 3rem;
}
.header .contact{
    position: relative;
    float: right;
    top: 3rem;
    right: 3rem;
}
.header .container-links ul{
    display: flex;
    position: absolute;
    width: 50%;
    height: 100%;
    left: 25%;
    right: 25%;
    justify-content: center;

}
.header .container-links ul a{
    text-decoration: none;
}
.header .container-links ul li{
    width: 15rem;
    list-style-type: none;
    text-align: center;
    font-size: 1.5rem;
    cursor: pointer;
}
.header .container-links{
    position: relative;
    width: 100%;
    height: 4rem;
    top: 60%;
    
}
.container-main-content{
    width: 100%;
    height: 100vh;
    background-image: url(/assets/img/img.jpg);
    background-size: 1366px 768px;
    background-repeat: no-repeat;
    background-position: top left;
}
.container-main-content .box-main-content{
    padding: 10rem;
    width: 80%;
    height: 100vh;
    margin:0 auto;
}
.container-footer{
    height: 15rem;
    background-color:  rgba(0, 100, 0, 0.527);
    text-align: center;
    padding-top: 6rem;
    font-size: 2rem;
}
.header .contact button{
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0);
    border-color: white;
    box-shadow: /*inset*/ 0.5rem 0.5rem 0.5rem 0 rgb(0, 0, 0);
    height: 3rem;
    width: 12rem;
}
.header .contact button:hover{
    background-color: rgba(255, 255, 255, 0.603);
    color: rgb(0, 0, 0);
    transition: 600ms;
}
@media (max-width: 768px){
    .header .contact button{
        height: 3rem;
        width: 7rem;
        font-size: 1rem;
    }
    .header .contact{
        position: relative;
        float: right;
        top: 3rem;
        right: 1rem;
    }
}
@media (max-width: 671px){
    .header .container-links ul li{
        width: 15rem;
        list-style-type: none;
        text-align: center;
        font-size: 1rem;
        cursor: pointer;
    }
    .header .logo{
        left: 1rem;
        top: 3rem;
    }
    .header .logo a{
        font-size: 2rem;
    }
    .container-section1{
        height: 100vh;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 15rem;
        font-size: 1.6rem;
        overflow: auto;
    
    }

    .container-section2{
        height: 100vh;
        font-size: 1.6rem;
        margin-left: 15%;
        margin-right: 15%;
        margin-top: 5rem;
        overflow: auto;
        background-color: rgb(202, 125, 23);
    }
}